@import './smart-grid.scss';
@import './reset.scss';
@import './mixins.scss';
@import './fonts.scss';

// ================colors=================

$bg-color: #fff;
$dark-100: rgba(31, 32, 65, 1);
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-5: rgba(31, 32, 65, 0.05);
$primary-color: rgba(188, 156, 255, 1);
$secondary-color: rgba(111, 207, 151, 1);

// ================font=================

$mainFontFamily: 'Montserrat', sans-serif;
$mainFontColor: $dark-100;
$mainFontSize: 10px;
$maxFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// ================z-index=================

$z-iconMenu: 10;

// ================UIkit=================
// @import "../../uikit/elements/elements-page/elements-page.scss";
// @import "../../uikit/colors-and-type/colors-and-type.scss";
// @import "../../uikit/cards/cards-page/cards-page.scss";

// ================Fonts=================
%type-h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  color: #292929;
}
%type-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 154%;
  color: #f8f8f6;
}

%type-2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #292929;
}

%type-3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #ffffff;
}

// ================FontsGroups=================
%font-nav-link {
  @extend %type-1;
}
%font-dropdown-item {
  @extend %type-2;
}
%font-h1 {
  @extend %type-h1;
}
%font-buttons {
  @extend %type-3;
}

// ================Total=================

html {
  font-size: $mainFontSize;
  font-family: $mainFontFamily;
  color: $mainFontColor;
  background: $bg-color;
  scroll-behavior: smooth;
}

body {
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  position: relative;
  flex: 1 1 auto;
}

.container {
  @include container();
  box-sizing: content-box;
}

.ibg {
  position: relative;
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

._lock {
  overflow: hidden;
}

.card {
  padding: 40px 30px 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
